<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamer.mapper.StuMapper">
    <select id="findAllstu" resultType="com.streamer.bean.Stu">
        select * from stu
    </select>
    <select id="getStuId" resultType="com.streamer.bean.Stu">
        select * from stu where sno = #{sno}
    </select>
    <select id="index" resultType="com.streamer.bean.Stu">
        select * from stu where sno = #{sno}
    </select>
    <select id="login"  parameterType="com.streamer.bean.Stu" resultType="com.streamer.bean.Stu">
        select * from stu where sno = #{sno} and password=#{password}
    </select>
    <delete id="deleteStuById" >
        delete from stu where sno=#{sno}
    </delete>
    <insert id="insertStu" useGeneratedKeys="true"  keyProperty="sno" >
       insert into stu (sno,sname,password) values(#{sno},#{sname},#{password})
    </insert>
    <update id="updateStu" >
        update stu set sname = #{sname},password = #{password} where sno = #{sno}
     </update>
</mapper>

