<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环</title>
</head>
<body>
<p>循环内嵌数组：</p>
<p id="demo"></p>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript">
   var d =[{"sno":1,"sname":"pppppp","password":"qwer1234"},{"sno":2,"sname":"www","password":"qwer1234"},{"sno":3,"sname":"eee","password":"qwer1234"},{"sno":4,"sname":"rrrr","password":"1234qwer"},{"sno":9,"sname":"pppp","password":"12333"}];

   for (var i = 0; i < d.length; i++) {
       //result[i]表示获得第i个json对象即JSONObject
       //result[i]通过.字段名称即可获得指定字段的值
       d[i].sname;
   }

   console.log(d[0].sname)
</script>


</body>
</html>