<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 100%;height: 30px">
    <div style="margin-top: 0">
        <span style="float: left;width: 25%;text-align: center;">排序</span>
        <span  style="float: left;width: 25%;text-align: center;">昵称</span>
        <span  style="float: left;width: 25%;text-align: center;">年龄</span>
        <span  style="float: left;width: 25%;text-align: center;">风格</span>
    </div>
</div>
<div class="table">

</div>
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
<script>
    window.onload = function () {
        var tab = [
            {name: '小仙女', age: 16, type: 'nice'},
            {name: '大長腿', age: 18, type: 'long'},
            {name: '小可爱', age: 20, type: 'cute'},
            {name: '小高冷', age: 22, type: 'cold'},
            {name: '她大叔', age: 38, type: 'smile'},
        ];
        var orderBody = '';
        $.each(tab, function (index, val) {
            orderBody += '<table style="width: 100%"><tbody>\
                        <tr class="ordertr">\
                            <td style="width: 25%;text-align: center;border: 1px solid #ccc">' + (index + 1) + '</td>\
                            <td style="width: 25%;text-align: center;border: 1px solid #ccc">' + val.name + '</th>\
                            <td style="width: 25%;text-align: center;border: 1px solid #ccc">' + val.age + '</td>\
                            <td style="width: 25%;text-align: center;border: 1px solid #ccc">' + val.type + '</td>\
                        </tr>\
                        </tbody></table>'
        })
        $('.table').append(orderBody);
    }
</script>

</body>
</html>